/* Centraliza o conteúdo da página */
.geral {
    background-image:url(../css/dinheiro.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Fundo claro */
    margin: 0;
}

/* Estilo do formulário */
form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.9);
    width: 100%;
    max-width: 400px; /* Largura máxima do formulário */
}

/* Estiliza as legendas e rótulos */
legend {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Ajusta a largura dos campos de entrada e seleção */
input.form-control, select.form-select {
    width: 100%;
    max-width: 600px; /* Limita a largura dos campos */
    margin: 10px auto;
}

/* Botão de conversão */
button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    background-color: #28a745; /* Cor do botão */
    color: white;
    font-size: 1.1rem;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #218838; /* Cor do botão ao passar o mouse */
}

/* Estilo para o campo de resultado */
input[readonly] {
    background-color: #f0f0f0; /* Cor de fundo mais clara para o campo de resultado */
}
